
.card {
    margin: 0 auto;
    float: none;
    padding: 20px;
    margin-top: 20px;
}
#questionSlide {
  /*  display: block; */
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.noVis {
    visibility: hidden;
    display:none
}

.vis {
  visibility: visible;
  display: block
}

button {
    margin:10px;
}

button a{
  text-decoration: none;
}

.yes {
  background-color: lightgreen;
}

.no {
  background-color: palevioletred;
}